body{
    background-color: #D4E6FE;
    text-transform: capitalize;
    width: 100%;
    margin: 0;
}

.hello{
    color: #333AD0;
    font-family: sans-serif;
    font-weight: lighter;

}
.contact{
    margin-top: 2%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 70%;
    background-color: white;

}

.content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    position: relative;
    border: 2px solid black;
    overflow: hidden;  
}
.form{

    width: 100%;
    border: 2px solid black;
}
input{
    padding: 20px 40px;
    width: 38.2%;
    background-color: #E7E9FE;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.content .address{
    width: 88%;
    background-color: #C8CEFE;

}
form textarea{
    background-color: #A5B1FD;
    padding: 30px;
    border: none;
    width: 91%;
    resize: none;
    border-radius: 15px;
    text-align: left;
}
::placeholder {
    color: #3034B5;
}

.btn{
    padding: 18px 50px;
    border-radius: 30px;
    font-size: 18px;
    line-height: 18px;
    background-color: blue;
    color: #fff;
    border: none;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

p{
    color: #A0D9C7;
}